extends ../layout

block content
    h1 UserDeatail
    dl
        dt FirstName
        dd= result.firstName
        dt LastName
        dd= result.lastName
        dt Age
        dd= result.age
        dt Date
        dd= result.date