extends ../layout

block content
    h1 UserDetail
    dl
        dt FirstName
        dd= result.firstName
        dt LastName
        dd= result.lastName
        dt Age
        dd= result.age
        dt Date
        dd= result.date

    form(action='/users/' + result.id, method='post')
        input(type="hidden", name="_method", value="delete" )
        input(type="submit", value="delete" )